.Arrow-animation {
  animation: kf-Arrow-animation 2s;
  animation-iteration-count: infinite;
}
@keyframes kf-Arrow-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
